.innerStyle img {

    width: 200px;
}

nav{
    border: 5px solid rgb(212, 243, 243);
    margin-top: 20px;
    margin-left: 90px;
    margin-right: 90px;
    background-color: rgb(115, 168, 168) ;
    border-radius: 20px;
}

#continer3{
    border: 5px solid rgb(212, 243, 243);
    margin-left: 90px;
    margin-right: 90px;
    background-color: rgb(115, 168, 168) ;
    border-radius: 20px black;
}

footer{
    border: 5px solid rgb(23, 24, 24);
    margin-left: 90px;
    margin-right: 90px;
    /* background-color: rgb(115, 168, 168) ; */
    border-radius: 20px;

}
#innerstyle{
    margin-left: 90px;
    margin-right: 90px;
}